<ion-content [fullscreen]="true">
  <ion-title id="authTitle">NHB-APP</ion-title>

  <div id="authContainer">
    <ion-header>Register</ion-header>
    <ion-input
      label="First Name"
      label-placement="floating"
      fill="outline"
      placeholder="Your First Name"
      autocapitalize="words"
      [(ngModel)]="firstName"
    ></ion-input>
    <ion-input
      label="Last Name"
      label-placement="floating"
      fill="outline"
      placeholder="Your Last Name"
      autocapitalize="words"
      [(ngModel)]="lastName"
    ></ion-input>
    <ion-input
      label="Email"
      label-placement="floating"
      fill="outline"
      placeholder="your@email.com"
      labelPlacement="floating"
      type="email"
      [(ngModel)]="email"
    ></ion-input>
    <ion-input
      label="Password"
      label-placement="floating"
      fill="outline"
      placeholder="password"
      type="password"
      errorText="Invalid password"
      [(ngModel)]="password"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
      ></ion-input>
      <ion-input
      label="Confirm Password"
      label-placement="floating"
      fill="outline"
      placeholder="password"
      type="password"
      helperText="Min 8 char, min 1 lower- /upper-case and 1 number!"
      errorText="Invalid password"
      [(ngModel)]="passwordConfirm"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
    ></ion-input>
    <ion-button (click)="register()">
      <ion-label>Register</ion-label>
    </ion-button>
  </div>
  <div id="linkContainer">
    <span>Already have an account?</span>
    <a href="/login">Login</a>
  </div>
</ion-content>
