<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="community" href="/tabs/community">
      <ion-icon  name="people-outline"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="information" href="/tabs/infromation">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
      <ion-label>Information</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="media" href="/tabs/media">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Media</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="cog-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>