<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ (question$ | async).Question }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Question details </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-icon name="today-outline" slot="start"></ion-icon>
        <ion-label>Date</ion-label>
        <ion-text
          >{{ formatService.formatDate((question$ | async).Date) }}</ion-text
        >
      </ion-item>
      <ion-item>
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Duration</ion-label>
        <ion-text>
          {{ formatService.formatDuration((question$ | async).Duration) }}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Description</ion-label>
        <ion-text>{{ (question$ | async).Description }}</ion-text>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label> Answers </ion-label>
      </ion-item-divider>

      @for (answer of (question$ | async).answers; track answer.index) { @if
      (answer.option.sentiment.Sentiment === 'y') {
      <ion-item>
        <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
        <ion-label>
          {{ formatService.formatName(answer.groupMember.account.FirstName,
          answer.groupMember.account.LastName) }}
        </ion-label>
        <ion-text>{{ answer.option.Option }}</ion-text>
      </ion-item>
      } } @for (answer of (question$ | async).answers; track answer.index) { @if
      (answer.option.sentiment.Sentiment === 'i') {
      <ion-item>
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        <ion-label>
          {{ formatService.formatName(answer.groupMember.account.FirstName,
          answer.groupMember.account.LastName) }}
        </ion-label>
        <ion-text>{{ answer.option.Option }}</ion-text>
      </ion-item>
      } } @for (answer of (question$ | async).answers; track answer.index) { @if
      (answer.option.sentiment.Sentiment === 'n') {
      <ion-item>
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        <ion-label>
          {{ formatService.formatName(answer.groupMember.account.FirstName,
          answer.groupMember.account.LastName) }}
        </ion-label>
        <ion-text>{{ answer.option.Option }}</ion-text>
      </ion-item>
      } } @for (answer of (question$ | async).answers; track answer.index) { @if
      (answer.option.sentiment.Sentiment === 'u') {
      <ion-item>
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>
          {{ formatService.formatName(answer.groupMember.account.FirstName,
          answer.groupMember.account.LastName) }}
        </ion-label>
        <ion-text>{{ answer.option.Option }}</ion-text>
      </ion-item>
      } }
    </ion-item-group>
  </ion-list>

  <ion-button (click)="createEvent()">
    <ion-label>As Event</ion-label>
  </ion-button>
  <ion-button (click)="createGroup()">
    <ion-label>As Group</ion-label>
  </ion-button>
</ion-content>
