<ion-content [fullscreen]="true">
  <ion-title id="authTitle">NHB-APP</ion-title>

  <div id="authContainer">
    <ion-header>Login</ion-header>

    <ion-input
      label="Email"
      label-placement="floating"
      fill="outline"
      placeholder="your@email.com"
      labelPlacement="floating"
      [(ngModel)]="email"
    ></ion-input>
    <ion-input
      label="Password"
      label-placement="floating"
      fill="outline"
      placeholder="password"
      [(ngModel)]="password"
      type="password"
    >
    </ion-input>
    <ion-button (click)=" login()">
      <ion-label>Login</ion-label>
    </ion-button>
    @if (errorMessage) {
    <ion-label color="danger">{{ errorMessage }}</ion-label>
    }
  </div>
  <div id="linkContainer">
    <span>Don't have an account yet?</span>
    <a href="/register">Sign up</a>
  </div>
</ion-content>
