<ion-content [fullscreen]="true">
  <ion-title>NHB-APP</ion-title>

  <div class="auth-container">
    <ion-header>Login</ion-header>
    <ion-input
      label="Email"
      label-placement="floating"
      fill="outline"
      placeholder="your@email.com"
    ></ion-input>
    <ion-input
      label="Password"
      label-placement="floating"
      fill="outline"
      placeholder="password"
    ></ion-input>
    <ion-button (click)="null">
      <ion-label>Login</ion-label>
    </ion-button>
  </div>
  <div>
    <span>Don't have an account yet?</span>
    <span>Sign up</span>
  </div>
</ion-content>
