<ion-content [fullscreen]="true">
  <ion-title>NHB-APP</ion-title>

  <div class="auth-container">
    <ion-header>Login</ion-header>
    <ion-input
      label="Email"
      label-placement="floating"
      fill="outline"
      placeholder="your@email.com"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
      [(ngModel)]="email"
    ></ion-input>
    <ion-input
      label="Password"
      label-placement="floating"
      fill="outline"
      placeholder="password"
      [(ngModel)]="password"
      type="password"
    >
      <!--
      <ion-button fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon slot="icon-only" name="eye-outline" aria-hidden="true"></ion-icon>
      </ion-button>
      -->
    </ion-input>
    <ion-button (click)=" login()">
      <ion-label>Login</ion-label>
    </ion-button>
    @if (errorMessage) {
    <ion-label color="danger">{{ errorMessage }}</ion-label>
    }
  </div>
  <div>
    <span>Don't have an account yet?</span>
    <a href="/register">Sign up</a>
  </div>
</ion-content>
