<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Community </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="community">
  @if (!groups) {
  <ion-loading></ion-loading>
  } @else if (groups.length === 0) {
  <ion-text>
    Not part of any groups, try creating one using the action-button!
  </ion-text>
  } @else { @for (group of groups; track group) {
  <ion-card (click)="openGroup(group)">
    <ion-card-header>
      <ion-card-title>{{group.Name}}</ion-card-title>
      <ion-card-subtitle>
        <ion-text> {{group.band.Name}} </ion-text>
        <ion-text> {{group.members.length}} members </ion-text>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  } }

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="createGroup()">
        <ion-icon name="people-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
